<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CSS Table Display</title>
<style type="text/css">
#table {
	display: table;
}

#tableRow {
	display: table-row;
}

#main {
	
	display: table-cell;
}

#nav {
	display: table-cell;
}

#_01 {
	background-color: black;
	height: 146px;
}

#_02 {
	background-color: black;
	height: 146px;
}

#_03 {
	background-color: black;
	height: 146px;
}
</style>
</head>
<body>
	<div id="table">
		<div id="tableRow">
			<div id="main">
				<p class="center" id="_01">1번째 블럭 요소</p>
				<p class="center" id="_02">2번째 블럭 요소</p>
				<p class="center" id="_03">3번째 블럭 요소</p>
			</div>
			<!-- main -->
			<div id="nav">
				<p class="center" id="_04">4번째 블럭 요소</p>
			</div>
			<!-- nav -->
		</div>
		<!-- tableRow -->
	</div>
	<!-- table -->
	<p class="center" id="_05">5번째 블럭 요소</p>
	<p class="center" id="_06">6번째 블럭 요소</p>


</body>
</html>