@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}
h1, h2 {
  color:           #cc6600;
  border-bottom:   thin dotted #888888;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}
blockquote {
  font-style:      italic;
}

table {
	margin-left: 20px;
	margin-right: 20px;
	border: thin solid black;
	caption-side: bottom;
	border-collapse: collapse;
}

th {
	background-color: #cc6600;
}

th, td {
	border: thin solid black;
}

/*
tr:nth-child(ood) {
	background-color: #fcba7a;
} 짝수만 홀수만 처럼. 정해서 배경색을 넣을 수 있다. tr을 td로도 사용 가능 */

.cellcolor {
	background-color: #fcba7a;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

table table {
	border: none;
	border-collapse: collapse;
}

table table th {
	border: none;
	background-color: white;
}

table table td {
	border: none;
}

li {
	list-style-image: url("images/backpack.gif");
	padding-top: 5px;
	margin-left: 20px;
}